services:
  mariadb:
    image: yobasystems/alpine-mariadb:10.6.11
    # WICHTIG: Kein Host-Port-Mapping -> vermeidet "Bind for 0.0.0.0:3306 failed"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: toolshop
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -proot --silent || exit 1"]
      interval: 2s
      timeout: 2s
      retries: 60

  laravel-api:
    image: testsmith/practice-software-testing-sprint5-api@sha256:168c99e1f626005cc126dddf3aacf28c6362022f4bab72f41c01b7762cca756d
    platform: linux/amd64
    depends_on:
      - mariadb
    environment:
      DB_CONNECTION: mysql
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_DATABASE: toolshop
      DB_USERNAME: user
      DB_PASSWORD: root
    volumes:
      - laravel-app-code:/var/www

  web:
    image: nginx:1.25-alpine
    depends_on:
      - laravel-api
    ports:
      - "${WEB_PORT:-8091}:80"
    volumes:
      # compose file liegt in docker/ -> ./nginx/default.conf ist korrekt
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - laravel-app-code:/var/www:ro

  angular-ui:
    image: testsmith/practice-software-testing-sprint5-ui@sha256:7d4f78475de46542aaba47df5900f7ff6d64cc4acef64784d81ad938d6eff112
    platform: linux/amd64
    depends_on:
      - web
    ports:
      - "${UI_PORT:-4200}:4200"
    command: bash -c "ng serve --host 0.0.0.0 --port 4200"

volumes:
  laravel-app-code:
